.project-card {
  border: 2px outset #DDD;
  background: #FEFEFEBE;
  border-radius: 5px;
  padding: 0 1rem 1rem 1rem;
  max-width: 26%;
  min-width: 250px;
  max-height: 150px;
  margin: 1.5%;
  overflow-y: hidden;
  box-shadow: 4px 4px 8px #AAA9;
}

.project-card:active {
    box-shadow: inset 1px 1px 2px #AAA9;
    border: 2px inset #DDD;
}

.card-container {
  display: flex;
  grid-column: 2 / 9;
  grid-row-start: 4;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  min-height: 400px;
  max-height: 480px;
  overflow-y: scroll;
}

.card-container::-webkit-scrollbar {
    display: none;
}
/*
.project {
  grid-row-start: 3;
  grid-column: 2 / 9;
} */

.title {
  grid-column: 2 / 4;
  grid-row-start: 4;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black,
    -1px -1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black;
}

.description {
  grid-column: 2 / 4;
  grid-row-start: 4;
  position: relative;
  margin-top: 5rem;
  height: 300px;
  width: 100%;
  border: 2px outset #DDD5;
  background: #DDDD;
  padding: 1rem;
  box-shadow: 2px 2px 8px 1px #AAA8;
  overflow-y: scroll;
}

.description::-webkit-scrollbar {
  display: none;
}

.goals-checklist {
  margin-top: 3rem;
  position: relative;
  grid-column: 5 / 9;
  grid-row-start: 4;
  border: 2px outset #DDD5;
  padding: 5px;
  box-shadow: 2px 2px 8px 1px #AAA8;
  width: 100%;
  max-height: 220px;
  background: #DDDD;
}

.notes {
  grid-column: 5 / 7;
  grid-row: 6 / 7;
  margin-top: -35%;
  width: 100%;
}

textarea {
  width: 100%;
  height: 100px;
  background: #DDDD;
}

input[type="submit"] {
  width: 100%;
}

.delete-project {
  grid-row: 5 / 7;
  grid-column: 8 / 9;
  /* right: 13%;
  bottom: 11.5%; */
  height: 100%;
  margin-top: -25%;
  width: 100%;
  border-radius: 10px;
  font-size: 18pt;
  box-shadow: 2px 2px 8px 1px #AAA8;
}

.add-checklist-item {
  position: absolute;
  right: 2rem;
  bottom: 1.5rem;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  font-size: 10pt;
}

.edit-description {
  position: relative;
  bottom: 5%;
  left: 10%;
  width: 80%;
  height: 25px;
  border-radius: 5px;
  font-size: 10pt;
}

.notes h3 {
  color: white;
  text-shadow: 1px 1px 1px black,
    -1px -1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black;
}

#display-description {
  position: absolute;
  display: block;
}

#change-description {
  position: absolute;
  display: none;
}
