.project-card {
  border: 2px outset #DDD;
  background: #FEFEFEBE;
  border-radius: 5px;
  padding: 0 1rem 1rem 1rem;
  max-width: 26%;
  min-width: 250px;
  max-height: 150px;
  margin: 1.5%;
  overflow-y: hidden;
  box-shadow: 4px 4px 8px #AAA9;
}

.project-card:active {
    box-shadow: inset 1px 1px 2px #AAA9;
    border: 2px inset #DDD;
}

.card-container {
  display: flex;
  grid-column: 2 / 9;
  grid-row-start: 4;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
}

.project {
  grid-row-start: 3;
  grid-column: 2 / 9;
}

.title {
  text-align: left;
}

.description {
  position: relative;
  margin-top: 5rem;
  height: 300px;
  width: 200px;
  border: 2px outset #DDD5;
  padding: 5px;
  box-shadow: 2px 2px 8px 1px #AAA8;
}

.goals-checklist {
  position: absolute;
  margin-left: 28%;
  margin-top: -33%;
  border: 2px outset #DDD5;
  padding: 5px;
  box-shadow: 2px 2px 8px 1px #AAA8;
  max-width: 600px;
  width: 100%;
  height: 250px;
}

.notes {
  position: absolute;
  margin-left: 28%;
  margin-top: -12%;
  width: 400px;
}

textarea {
  width: 400px;
  height: 100px;
}

input[type="submit"] {
  width: 405px;
}

.delete-project {
  position: absolute;
  right: 13%;
  bottom: 11.5%;
  height: 125px;
  width: 150px;
  border-radius: 10px;
  font-size: 18pt;
  box-shadow: 2px 2px 8px 1px #AAA8;
}

.add-checklist-item {
  position: absolute;
  right: 2rem;
  bottom: 1.5rem;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  font-size: 10pt;
}

.edit-description {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 80%;
  height: 25px;
  border-radius: 5px;
  font-size: 10pt;
}
