.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 1rem;
}

.logo {
  position: absolute;
  top: -0.9rem;
  font-family: 'Alfa Slab One', cursive;
  color: white;
  text-shadow: 1px 1px 1px black,
    -1px -1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black;
}

.nav-links {
  position: absolute;
  right: 2rem;
  top: 0.3rem;
}

.nav-links span {
  padding: 0.5rem;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  background: #BBB5;
  font-weight: 700;
}
