.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 1rem;

}

.nav-logo {
  position: absolute;
  top: -0.9rem;
}

.nav-links {
  position: absolute;
  right: 2rem;
  top: 0.3rem;
  text-shadow: none;
}

.nav-links span {
  padding: 0.5rem;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  background: #BBB5;
  font-weight: 700;
}
