h3 {
  grid-row-start: 3;
  grid-column: 4 / 7;
  text-align: center;
}

.resources {
  grid-row-start: 4;
  grid-column: 3 / 8;
  text-align: left;
}

p {
  text-align: left;
}

p a {
  color: white;
  text-shadow: 1px 1px 1px black,
    -1px -1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black;
}
