body {
  background: #EEE;
  background-image: url("./images/marble-2398946_1920.jpg");
}

.container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(auto-fill, 10%);
  margin-top: 3rem;
}

h1 {
  grid-row-start: 3;
  grid-column: 4 / 7;
  text-align: center;
}
